.bg-error {
  background-color: #ff4336 !important;
}

.raceText {
  .card-body {
    font-size: 22px;  
  }
  .text-input {
    color: black;
    font-size: 18px;
  }

}

.raceTrack {
  .userInformation {
    font-size: 14px;
  }

  .progress {
    height: 45px;
    background-color: #e8e8e8;
    padding-left: 60px;
    border-radius: 0;
    border-top: 3px solid #a3a3a3;
    border-bottom: 3px solid #a3a3a3;
    position: relative;
    overflow: visible;

    .progress-bar {
      background-color: transparent;
      position: relative;
      img {
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 10;
      }
    }
  }

}
